h1 Registro
.input_fild 
  input(type='text' placeholder="Pseudónimo" v-model="register.pseudonimo")
.input_fild 
  input(type="text" placeholder="Correo asociado (Opcional)" v-model="register.email")
.input_fild
  input(type="password" placeholder="Contraseña" v-model="register.pass")
.input_fild 
  input(type="password" placeholder="Repetir Contraseña" v-model="register.repeat_pass")